*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    
}
html,body{
    height: 100%;
    width: 100%;
    
}

body{
    background-color: #1a1a1a;
}


@mixin flex-colum($gap: 0){
     display: flex;
    flex-direction: column;
    gap: $gap;

}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    

    section{
        width: 100%;
    @include flex-colum(0.6rem);
    padding: 1rem;
    
    


    .top{

        width: 100%;
        img{

            width: 100%;
            border-radius: 0.7rem;
        }
    }

    .bottom{
        width: 100%;
        background-color: #272727;
        padding: 1rem;
       display: flex;
       flex-direction: column;
       
       gap: 8rem;
       border-radius: 0.7rem;

       p{
        color: white;

       }

       .text{

        @include flex-colum(1rem);
    

        
        h1{
            color: white;
            font-weight: 300;
            text-transform: uppercase;
            
        }
        p{
            font-size: 1.3rem;
            font-weight: 100;
            opacity: 0.6;
            line-height: 1.5;

        }
       }
       button{
        width: fit-content;
        padding: 0.4rem 0.9rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
       }
       

    }
    }
}

@media (min-width:900px){
    main{

        section{

            flex-direction: row;
            padding: 2rem 3rem;

            justify-content: center;
           

            .top,.bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
            }
        }
    }
}